@import url(https://fonts.googleapis.com/css2?family=Anta&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&display=swap);

body {

  margin:10px;
  background: linear-gradient(rgba(5, 114, 5, 1), rgba(0, 0, 0, 0.5), rgba(5, 114, 5, 1)),
                   url("./media/fondecran.jpg")fixed
                   
                 ;             
  
}

:root {
  --hauteur-menu: 120px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Anta", sans-serif;
}

nav {
  max-width: 100%;
  font-size: 2em;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  z-index: 100;
}

nav>ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;

}

nav>ul>li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;

}

nav>ul>li>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav>ul>li>a:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

li a {
  text-decoration: none;
  color: black;

}

.menu-deroulant>a:after {
  content: '>';
  font-size: 1em;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant-b>a:after {
  font-size: 1em;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  margin-bottom: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  overflow: hidden;
  max-height: 0;
  font-size: 1em;
}

.sous-menu>li>a {
  height: 50px;
 /* padding-left: 20px;*/
  width: 100%;
  align-items: center;
  display: flex;
}

nav>ul>li:hover>a {
  color: rgb(5, 114, 5);
  font-family: "Anta", sans-serif;
}

nav>ul>li:hover>p>a {
  color: rgb(5, 114, 5);
  font-family: "Anta", sans-serif;
}

.sous-menu>li:hover {
  background-color: rgb(5, 114, 5);
}

.sous-menu>li:hover>a {
  color: white;
  font-family: "Anta", sans-serif;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover>a:after {
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(171, 181, 111, 0);
     border-top: 6px solid #fefffc;
  }

  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
   
  }

  100% {
    max-height: 50em;
    border-top: 6px solid rgb(5, 114, 5);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.menu-deroulant:hover>.sous-menu {
  animation: apparitionSousMenu 4s forwards;
}
nav>ul>li>p {  
  font-size: 1.6em;
  background-color: rgb(255, 255, 255);
  margin: 10px 0 0 0;
  font-family: "Anta", sans-serif;
  border-radius: 5px;
  transition: transform 1.5s ease;
}

nav>ul>li>p:hover {
  font-size: 1.6em;
  background-color: rgb(255, 255, 255);
  margin: 10px 0 0 0;
  font-family: "Anta", sans-serif;
  border-radius: 5px;
  transform: scale(0.9);
  transition: transform 1s ease;
}


/*index*/
.lapin {
  position: absolute;
  width: 10vw;
  height: 15vw;
  left: 43.5vw;
  margin-top: 4.5vw;
}

.separation_index {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 20vw;
  left: 34vw;
  box-shadow: 8px 5px 5px rgb(255, 255, 255);
}

.separation_index2 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 29vw;
  left: 34vw;
  box-shadow: 8px 5px 5px rgb(255, 255, 255);
}
/*.separation_index {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 20vw;
  left: 34vw;
  box-shadow: 8px 5px 5px rgb(255, 255, 255);
}

.separation_index2 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 29vw;
  left: 34vw;
  box-shadow: 8px 5px 5px rgb(255, 255, 255);
}*/
.welcome {
  font-size: 6vw;
  color: white;
  position: absolute;
  font-size: 7vw;
  font-family: "Anta", sans-serif;
  text-shadow: white 20px 0px 40px;
  left: 10.5vw;
  margin-top: 19.1vw;

}

body input.btn {
  background-color: black;
  height: 89vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  
  background-image:linear-gradient(rgba(5, 114, 5, 1), rgba(0, 0, 0, 0.5), rgba(5, 114, 5, 1)),url(./media/fondecran2.jpg);
  color: white;
  font-size: 7vw;
  border: 0.1vw solid green;
  font-family: "Anta", sans-serif;
  text-shadow: BLACK 20px 0px 40px;
}

.btn:hover {
  display: none;
}

.canvas {
  display: none;
  max-width: 100%;
  max-height: 100%;
}

/*page d'accueil*/


/*.separation_about1 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 8.3vw;
  left: 1.3vw;
  box-shadow: 8px 15px 15px rgb(72, 183, 62);
}


.separation_about3 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  left: 67vw;
  top: 8vw;
  box-shadow: 8px 15px 15px rgb(72, 183, 62);

}*/
.body_about{
  background-image: linear-gradient(rgba(5, 114, 5, 1), rgba(0, 0, 0, 0.5), rgba(5, 114, 5, 1)),
                  url("./media/fondecran.jpg");
}
.separation_about{
  display:flex;
  justify-content:center;
  align-items:center; 
  padding:4vw 0vw;
  gap:1vw;
}
.separation_about1 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  Background-color: white;  
  box-shadow: -10px 9px 2px rgb(72, 183, 62);
}
.separation_about2 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  text-align: center; 
  Background-color: white;
  position: relative;  
  box-shadow: 10px 9px 2px rgb(72, 183, 62);
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  /*background-color: rgb(1, 1, 1);*/
  color: rgb(255, 255, 255);
  font-family: "Anta", sans-serif;
  text-shadow: rgb(1, 1, 1) 0px 0px 40px;
}

.container_accueil {
  /*background-image: linear-gradient(black, rgb(5, 114, 5));*/
  max-width: 100%;
  margin: 0 2.7778vw 1.8889vw 2.7778vw;
  border-radius: 1.3889vw;
  /*box-shadow: 0.3472vw 0.3472vw 1.0417vw rgba(0, 0, 0, 0.3);
  border: 0.2778vw solid black;*/
  padding: 2.7778vw 0 1vw 2.7778vw;

}

.container::after {
  content: "";
  display: block;
  clear: both;

}

.container h2 {
  margin-bottom: 50px;
}

.container p {
  line-height: 2em;
  font-size: 2.0833vw;
  text-align: justify;
}

.photo {
  height: 25vw;
  width: 30vw;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 2vw 0 2vw;
  border: rgb(255, 255, 255) 3px solid;
  transition:all 1.5s ease;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
}

.photo:hover {
  height: 25vw;
  width: 30vw;  
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 0 2vw 0 2vw;  
  transition:all 0.7s ease;
  opacity:0.5;
}



.develloper {
  text-align: center;
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Anta", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px rgb(12, 144, 12)
}

.develloper:hover {
  text-align: center;
  font-size: 3vw;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Anta", sans-serif;
  color: white;
  text-shadow: 4px 4px 4px black;
}

.texte {
  padding-left: 10%;
  padding-right: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-align: justify;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  color: white;
}

.about {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}


/*Projets*/
/*.separation_projet1 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  top: 8.3vw;
  left: 1.3vw;
  box-shadow: 8px 15px 15px rgb(72, 183, 62);
}


.separation_projet3 {
  height: 0.2vw;
  width: 30vw;
  display: flex;
  text-align: center;
  top: 6vw;
  Background-color: white;
  position: relative;
  left: 67vw;
  top: 8vw;
  box-shadow: 8px 15px 15px rgb(72, 183, 62);
}*/
.separation_projet{
  display:flex;
  justify-content:center;
  align-items:center; 
  padding:4vw 0vw;
}
.separation_projet1 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  Background-color: white;  
  box-shadow: -10px 9px 2px rgb(72, 183, 62);
}
.separation_projet2 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  text-align: center; 
  Background-color: white;
  position: relative;  
  box-shadow: 10px 9px 2px rgb(72, 183, 62);
}
.titre_projet {
  display: flex;
  justify-content: center;
  font-size: 4vw; 
  color: white;
}

.nom_projet1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nom_projet2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container_projet {
  /*background-image: linear-gradient(rgb(0, 0, 0), rgb(5, 114, 5));*/
  max-width: 100%;
  margin: 0 auto;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 1.3889vw;
  padding-top: 1.3889vw;
  padding-bottom: 1.3889vw;
  /*box-shadow: 0.3472vw 0.3472vw 1.0417vw rgba(0, 0, 0, 0.3);*/
  margin-top: 3.4722vw;
  border-radius: 1.3889vw;

}

.img_projet {
  height: 40%;
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 20px 20px 5px 20px;
  border: rgb(255, 255, 255) 3px solid;
  transition:all 1.5s ease;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
}

.img_projet2 {
  height: 40%;
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  float: right;
  shape-outside: margin-box;
  margin: 20px 20px 5px 20px;
  border: rgb(255, 255, 255) 3px solid;
  transition:all 1.5s ease;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.3);
  
}
.img_projet:hover {
  height: 40%;
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
  margin: 20px 20px 5px 20px;
  transition:all 0.7s ease;
  opacity:0.5;
}

.img_projet2:hover {
  height: 40%;
  width: 25%;
  object-fit: cover;
  border-radius: 50%;
  float: right;
  shape-outside: margin-box;
  margin: 20px 20px 5px 20px;
  transition:all 0.7s ease;
  opacity:0.5;
}

.nom_projet1 {
  text-align: center;
  font-size: 3vw;
  color: aliceblue;
  margin: 2% 0 2% 0;

}

.nom_projet2 {
  text-align: center;
  font-size: 3vw;
  color: aliceblue;
  margin: 2% 0 2% 0;
}


/*Etudes*/

.body_etude {
  background-image: linear-gradient(rgba(5, 114, 5, 1), rgba(0, 0, 0, 0.5), rgba(5, 114, 5, 1)),
                  url("./media/fondecran.jpg");
}

.container_etude {
  max-width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 7vw; 
}

.container_ecole {
  width: 80vw;  
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:10vw;
  gap: 5vw;
  transition:all 0.7s ease;
  
}
.container_ecole:hover {
  width: 80vw;
  box-shadow:white 10px 10px 15px;
  border-radius:10vw;    
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
  gap: 30vw;
  transition: all 1.5s ease;
  
}
.container_ecole2 {
  width: 80vw;  
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:row-reverse;
  border-radius:10vw;
  gap: 5vw;
  transition:all 0.7s ease;
  
}
.container_ecole2:hover {
  width: 80vw;
  box-shadow:white 10px 10px 15px;
  border-radius:10vw;    
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:row-reverse;
  gap: 30vw;
  transition: all 1.5s ease;
}

.container_ecole div {
  width: 40%;
}
.container_donkey div{
  width: 40%;
}
.container_donkey{
  max-width: 100%;
  margin-bottom:2vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 7vw; 
}
.donkey {
  width: 80vw;  
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:10vw;
  gap: 5vw;
  transition:all 0.7s ease;
  
 }
 .donkey:hover {
  width: 80vw;
  box-shadow:white 10px 10px 15px;
  border-radius:10vw;    
  padding: 2vw 2.5vw;
  display:flex;
  justify-content: center;
  gap: 30vw;
  transition: all 1.5s ease;
 }

.separation_etude1 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  text-align: center;
  Background-color: white;
  position: relative;  
  box-shadow: -10px 9px 2px black;
}
.separation_etude{
  display:flex;
  justify-content:center;
  align-items:center;
  
  padding:4vw 4vw;
}
.separation_etude2 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  text-align: center; 
  Background-color: white;
  position: relative;  
  box-shadow: 10px 9px 2px black;
}

.cursus {
  display:flex;
  justify-content:center;
  font-size: 4em;
  color: white;
  margin-right:1vw;
  margin-left:1vw;
}

.formation {
  font-size: 4em;
  color: white;
  text-align:center;
}

.logo_ecole {
  width: 10vw;
  height: 10vw;
}

.donkey_logo {
  width: 15vw;
  height: 28vh;
  border-radius: 2vw;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.texte_etude {
  color: white;
  line-height: 1.5vw;
  font-size: 2em;
  
  
}

.titre_etude {
  color: rgb(201, 182, 5);
  font-size: 2.5em;
}

.titre_ecole {
  color: rgb(201, 182, 5);
  font-size: 2.5em;
}

/*contact*/

.body_contact {
  background-image: linear-gradient(rgba(5, 114, 5, 1), rgba(0, 0, 0, 0.5), rgba(5, 114, 5, 1)),
                  url("./media/fondecran.jpg");
}

.container_contact {
  padding-top: 1%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap:4vh;
}

.telephone {
  display: flex;
  justify-content: center; 
  background-image: linear-gradient(rgb(5, 114, 5), rgb(0, 0, 0), );
 }

.telephone_logo {
  width: 8vw;
  height: 7vw;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  margin-left:1vw;
  margin-right:1vw;
}

.telephone_num {
  font-size: 2.2vw;  
  color: white;
  margin-right:1vw;
  text-shadow: 5px 5px 15px rgb(255, 255, 255)
}

.logo {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.github {
  height: 15vw;
  position: relative;
  top: 5vh;
  right: 1vw;
  transition: filter 1.5s ease;
  transition: all 2s ease;
  filter: drop-shadow(6px 4px 0px rgb(255, 255, 255));
}
.github:hover {
  height: 15vw;
  position: relative;
  top: 5vh;
  right:1vw;
  filter: drop-shadow(0px 0px 30px rgb(255, 255, 255));
  transition: filter 0.3s ease;
  transform: scale(1.2);
  transition: all 2s ease;
}
.linkedin {
  height: 18vw;
  width: 15vw;
  position: relative;
  bottom: 5vh;
  left: 1.5vw;
  transition: filter 1.5s ease;
  transition: all 2s ease;
  filter: drop-shadow(6px 4px 0px rgb(255, 255, 255));
}
.linkedin:hover {
  position: relative;
  width: 15vw;
  height: 18vw;
  bottom:5vh;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  transition: filter 0.3s ease;
  transform: scale(1.2);
  transition: all 1s ease;
}
.instagram {
  width: 12vw;
  height: 14.4vw;
  position: relative;
  bottom: 1vh;
  transition: filter 1.5s ease;
  transition: all 2s ease;
  filter: drop-shadow(8px 4px 0px rgb(255, 255, 255));
}
.instagram:hover {
  position: relative;
  width: 12vw;
  height: 14, 4vw;
  margin-bottom: 1vw;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  transition: filter 0.3s ease;
  transform: scale(1.2);
  transition: all 1s ease;
}
.facebook {
  width: 13vw;
  height: 14vw;
  position: relative;
  top: 5vh;
  transition: filter 1.5s ease;
  transition: all 2s ease;
  filter: drop-shadow(8px 4px 0px rgb(255, 255, 255));
}
.facebook:hover {
  position: relative;
  width: 13vw;
  height: 14vw;
  top: 5vh;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  transition: filter 0.3s ease;
  transform: scale(1.2);
  transition: all 1s ease;
}
.separation_contact{
  display:flex;
  justify-content:center;
  align-items:center; 
  padding:4vw 0vw;
}
.separation_contact1 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  Background-color: white;  
  box-shadow: 10px 9px 2px black;
}


.separation_contact2 {
  height: 0.2vw;
  width: 25vw;
  display: flex;
  text-align: center; 
  Background-color: white;
  position: relative;  
  box-shadow: 10px 9px 2px black;

}


.envellope {
  max-width: 10%;
  margin-left: 45%;
  filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
  transition: filter 0.3s ease;


}

.lettre {
  width: 12vw;
  height: 15vw;
  border-radius: 10%;
}


input[type=text],
textarea,
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 26px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  font-size: 2em;
  transition: box-shadow 1.5s ease;

}

input[type=text]:hover,
textarea:hover,
input[type=email]:hover {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 26px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
  font-size: 2em;
  box-shadow: rgb(85, 201, 72) 0 0 40px;
  transition: box-shadow 0.3s ease;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  font-size: 2em;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 1vw 0.3vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2vw;
  transition: box-shadow 1.5s ease;
  width: 10vw;
  height: 4vw;

}

input[type=submit]:hover {
  background-color: white;
  color: black;
  box-shadow: rgb(0, 0, 0) 0 0 40px;
  transition: box-shadow 0.3s ease;
}

h2.form {

  text-align: center;
  color: white;
  font-size: 7vw;
  display: flex;
  justify-content: center;
  text-shadow: black 5px 5px 35px;
}

.form_texte {
  color: white;
}

.container_form {
  /* Ajouter box-sizing */
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10vw;
  /* redéfinition 400 + 2*20 */
  max-width: 100%;
  margin: 0 20vw;
  margin-bottom: 1%;

}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color:white;
  font-size:1.3em;
}

.watch {
  color: rgb(255, 255, 255);
  font-size: 2vw;
  font-family: "Rubik", sans-serif;
  position: absolute;
  right: 43vw;
  top: 15vw;
  padding: 8px 19px 8px 12px;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  transform: scale(1.6);
}
@media screen and (max-width: 600px) {
  body {


  }
}
/*@media (prefers-color-scheme: dark) {
  html {
  filter: invert(100%);
  }
  }*/

/*onglets*/